# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.so

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code configuration
.vscode/

# Data sets
datasets/

# Python virtual environments
.venv/

# test files
*.cvs
*.txt